body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(rgb(211, 238, 220), rgb(54, 155, 76));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%vh;
  width: 100%vw;
}

.logo {
  width: 150px;
  height: auto;
  margin: 5% 10%;
}

header {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 90%;
}

main {
  margin: 8% 35% 5%;
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-columns: 30% auto 40%;
}

nav>a {
  margin: 15% 5% 3%;
  height: 10%;
  width: 40%vw;
  color: rgb(8, 36, 8);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 40px;
  background: transparent;
  padding: 20px;
  text-align: center;
  border: 5px solid rgb(8, 36, 8);
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

#profile-pic {
  float: right;
  width: 300px;
  height: 350px;
  border-radius: 50%;
}

h1 {
  color: rgb(8, 36, 8);
  grid-column: 1/3;
  margin: auto;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}

h2 {
  color: rgb(8, 36, 8);
  margin: auto;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}

footer {
  color: rgb(8, 36, 8);
  margin: auto;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}