body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(rgb(211, 238, 220), rgb(54, 155, 76));
  height: 100%vh;
  width: 100%vw;
}

.logo {
  width: 150px;
  height: auto;
  margin: 5% 10%;
}

header {
  display: grid;
  grid-template-columns: 20% 70%;
  width: 100%;
}

nav>a {
  margin: 10% 5% 3%;
  height: 10%;
  width: 40%vw;
  color: rgb(53, 70, 23);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 40px;
  background: transparent;
  padding: 20px;
  text-align: center;
  border: 5px solid rgb(53, 70, 23);
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

main {
  display: grid;
  grid-template-rows: auto;
  color: rgb(53, 70, 23);
  font-size-adjust: inherit;

}

img {
  padding: 20px;
  border-radius: 40%;
}

.att {
  margin-top: 2%;
}

footer {
  color: drgb(53, 70, 23);
  margin: auto;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 800px) {

  nav>a {
    margin-top: 40%;
    font-size: 18px;
    border: none;
  }

  footer {
    display: none;
  }
}

@media (max-width: 400px) {

  .logo {
    width: 0px;
    height: auto;
    margin: 1% 1%;
  }

  nav>a {

    margin: 10px 10px;
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    background: transparent;
    padding: 10px;
  }
}