* {
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 165, 241);
  background-size: 100%;
  margin: 0;
}

.container1 {
  display: grid;
  grid-template-columns: 30% auto 30%;
  width: 100%;
  height: 300px;
  padding: 3px;
}

.logo {
  width: 150px;
  height: auto;
  margin: 1% 1%;
}

nav>a {
  margin: 20px 20px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  align-items: center;
  border-radius: 50px;
  background: transparent;
  padding: 10px;
  text-align: center;
  border: 3px solid blue;
}

nav {
  display: flex;
  justify-content: flex-start;
  width: 70%;
}

#profile-pic {
  float: right;
  width: 200px;
  height: 225px;
  border-radius: 50%;
}

.container2 {
  display: grid;
  grid-template-columns: 30% auto 30%;
  width: 100%;
  height: 500px;
  padding: 3px;
}

.information {
  height: 500px;
  width: 500px;
  font-size: 24px;
  padding: 30px;
}

#submit {
  font-size: 18px;
  border-radius: 25px;
  padding: 10px;
  padding-bottom: 5%;
  text-align: center;
  letter-spacing: 5px;
  font-style: bold;
  background-color: green;
}

#reset {
  background-color: rgb(233, 73, 73);
  font-size: 18px;
  border-radius: 25px;
  padding: 10px;
  padding-bottom: 5%;
  text-align: center;
  letter-spacing: 5px;
  font-style: bold;
}

.movie {
  width: 500px;
  height: 300px;
  padding: 10px;
}

.youtube {
  height: 300px;
  width: 500px;
  padding: 10px;
}

footer {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: blue;
  padding: 15px;
  text-align: center;
}

@media (max-width: 800px) {
  body {
    background-color: rgb(153, 238, 164);
  }

  nav>a {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  #profile-pic {
    width: 150px;
    height: auto;
  }

  .container2 {
    display: block;
  }

  .movie {
    margin: 10px 10px;
  }

  .youtube {
    margin: 10px 10px;
  }

  footer {
    display: none;
  }
}

@media (max-width: 400px) {
  body {
    background-color: rgb(215, 236, 240);
  }

  .logo {
    width: 0px;
    height: auto;
    margin: 1% 1%;
  }

  nav>a {
    margin: 10px 10px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 30px;
    background: transparent;
    padding: 10px;
  }

  #profile-pic {
    width: 0px;
    Height: 0px;
  }

  .movie {
    min-width: 40%;
    max-width: 380px;
    height: auto;
    padding: 5px;

  }

  .youtube {
    min-width: 40%;
    max-width: 380px;
    height: auto;
    padding: 5px;

  }
}