body {
    font-size: 16px;
    line-height: 10px;
    color: black;
    background-color: white;
}

h2 {
    text-align: center;
}
#moving_squares {
    position: relative;
    display: box;
    width: 900px;
    height: 900px;
    margin: 0 auto 10px;
    border: 3px solid black;
    padding: 20px;
}
#moving_squares:hover {
    background: wheat;
    cursor: pointer;
}

.odd_box {
    display: box;
    width: 50px;
    height: 50px;
    border: 2px black solid;
    text-align: center;
    margin: 10px 450px;
    transition: 3s, 3s;
}

.odd_box:hover {
    transform: scale(2,2) translateX(150px);

}

.even_box {
    display: box;
    width: 50px;
    height: 50px;
    border: 2px black solid;
    text-align: center;
    margin: 10px 450px;
    transition: 3s, 3s;
}

.even_box:hover {
    transform: scale(.5,.5) translateX(-350px);
}

#pink {
    background-color: pink;
}

#salmon {
    background-color: salmon;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#lime {
    background-color: lime;
}

#green {
    background-color: green;
}

#teal {
    background-color: teal;
}

#blue {
    background-color: blue;
}

#indigo {
    background-color: indigo;
}

#purple {
    background-color: purple;
}

#violet {
    background-color: violet;
}